<a href="https://colab.research.google.com/github/issamoxix/cleaning_Data_ex/blob/master/cleanig_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Cleaning Data

In [2]:
df = pd.read_csv('data_cleaning_challenge.csv')
df.head(3)

             Row Type       Iter Number  ... Unnamed: 9 Unnamed: 10
0  first name: Person  last name: Human  ...        NaN         NaN
1                 NaN               NaN  ...        NaN         NaN
2            Row Type       Iter Number  ...        NaN         NaN

[3 rows x 11 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76377 entries, 0 to 76376
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Row Type     58397 non-null  object
 1   Iter Number  58397 non-null  object
 2   Power1       58397 non-null  object
 3   Speed1       52403 non-null  object
 4   Speed2       52403 non-null  object
 5   Electricity  52403 non-null  object
 6   Effort       52403 non-null  object
 7   Weight       52403 non-null  object
 8   Torque       52403 non-null  object
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  83 non-null     object
dtypes: float64(1), object(10)
memory usage: 6.4+ MB

In [11]:
df = df.drop(columns=['Unnamed: 9','Unnamed: 10'])

In [21]:
df.tail()

       Row Type Iter Number Power1 Speed1  ... Electricity Effort Weight Torque
76372      Iter           6    879     73  ...         680    500    395    863
76373   Average         979    641    531  ...         448    407    185    439
76374   Maximum         783    172    941  ...         982    217    963    502
76375  Std.Dev.         221    112    717  ...         239    561    142    909
76376     Total         429      -      -  ...           -    847    583    407

[5 rows x 9 columns]

In [58]:
cols = df.columns
def GetType(val):
  try:
    float(val)
    return 0
  except:
    return 1

In [52]:
# df['Iter Number'].map(lambda x : GetType(x))
# float('sdsd')
new_df = pd.DataFrame(columns=cols)

In [59]:
df['Str_Iter_n'] = df['Iter Number'].map(lambda x: GetType(x))

In [70]:
cl_df = df[df['Str_Iter_n'] != 1].dropna().drop(columns=['Str_Iter_n'])

In [86]:
cl_df = cl_df[cl_df['Power1'] != '-']

In [93]:
cl_df = cl_df.astype({'Iter Number':int})
cl_df = cl_df.astype({'Power1':int})
cl_df = cl_df.astype({'Speed1':int})
cl_df = cl_df.astype({'Speed2':int})
cl_df = cl_df.astype({'Effort':int})
cl_df = cl_df.astype({'Weight':int})
cl_df = cl_df.astype({'Electricity':int})
cl_df = cl_df.astype({'Torque':int})

In [95]:
cl_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40415 entries, 3 to 76375
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Row Type     40415 non-null  object
 1   Iter Number  40415 non-null  int64
 2   Power1       40415 non-null  int64
 3   Speed1       40415 non-null  int64
 4   Speed2       40415 non-null  int64
 5   Electricity  40415 non-null  int64
 6   Effort       40415 non-null  int64
 7   Weight       40415 non-null  int64
 8   Torque       40415 non-null  int64
dtypes: int64(8), object(1)
memory usage: 3.1+ MB

## Process

* removed NaN vals
* Removed string types from int columns
* changed types

In [97]:
cl_df.describe()

        Iter Number        Power1  ...        Weight        Torque
count  40415.000000  40415.000000  ...  40415.000000  40415.000000
mean     222.685760    502.263763  ...    498.530917    500.999827
std      312.468797    289.555586  ...    288.695017    288.515731
min        1.000000      1.000000  ...      1.000000      1.000000
25%        2.000000    253.000000  ...    248.000000    251.000000
50%        5.000000    503.000000  ...    499.000000    502.000000
75%      436.000000    754.000000  ...    746.000000    749.000000
max     1000.000000   1000.000000  ...   1000.000000   1000.000000

[8 rows x 8 columns]